body {
  &::-webkit-scrollbar {
    display: none;
    visibility: hidden;
  }
}

.userPage {
  padding-bottom: 80px;

  .header {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $avenirRegular;
    padding: 0px 20px 0px 20px;
    border: 1px solid rgba(16, 24, 40, 0.1);

    height: 50px;
    width: 100vw;
    top: 0;
    position: sticky;
    z-index: 100;
    background-color: white;

    @media screen and (min-width: 700px) {
      padding: 0px 40px 0px 40px;
    }

    .notificationsIcon {
      transition: transform 0.2s;
      font-size: 20px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .frame2 {
    margin: 30px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: $avenirRegular;

    @media screen and (min-width: 700px) {
      margin: 30px 40px 0px 40px;
    }

    .viewTransactions {
      cursor: pointer;
      border: 0;
      background: none;
      text-decoration: underline;
      transition: transform 0.2s;
      font-family: $avenirRegular;
      -webkit-tap-highlight-color: transparent;

      &:hover {
        transform: scale(1.1);
      }

      .transactionsLink {
        color: #101828;
      }
    }
  }

  .variety {
    @media screen and (min-width: 700px) {
      display: flex;
      padding: 0px 20px 0px 20px;
    }

    .frame3 {
      margin: 0px 20px 0px 20px;

      h5 {
        font-family: $avenirBold;
        margin: 10px 0px 10px 0px;
      }

      .services {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
        column-gap: 10px;
        margin-bottom: 10px;

        @media screen and (min-width: 700px) {
          grid-template-columns: 15vw 15vw;
          margin-top: 30px;
          column-gap: 10px;
        }

        div {
          height: 104px;
          width: 45vw;
          border-radius: 5px;
          padding-top: 10px;
          padding-left: 10px;
          color: white;
          font-family: $avenirRegular;
          letter-spacing: 1px;
          cursor: pointer;

          .link {
            color: white;
          }

          @media screen and (min-width: 700px) {
            height: 150px;
            width: 15vw;
          }
        }
      }
    }

    .frame4 {
      display: grid;
      grid-template-columns: auto;

      @media screen and (min-width: 700px) {
        padding-top: 55px;
      }

      .communitySection,
      .businessSection {
        margin: 0px 20px 0px 20px;
        position: relative;
        letter-spacing: 2px;

        @media screen and (min-width: 700px) {
          width: 50vw;
        }

        .communityImage {
          height: 120px;
          width: 92vw;
          object-fit: cover;
          z-index: -100;
          filter: brightness(50%);
          border-radius: 15px;

          @media screen and (min-width: 700px) {
            height: 150px;
            width: 50vw;
          }
        }

        h4 {
          position: absolute;
          top: 0;
          margin: 15px 0px 0px 20px;
          color: white;
          font-family: $avenirBold;
        }

        p {
          position: absolute;
          color: white;
          top: 0;
          margin: 35px 0px 0px 20px;
          font-family: $avenirRegular;
        }

        .discover {
          color: white;
          position: absolute;
          right: 0;
          bottom: 0;
          margin: 0px 20px 15px 20px;
          border: 1px solid #afa7a7;
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
          background: none;
          padding: 5px;

          @media screen and (min-width: 700px) {
            margin: 0px 35px 40px 20px;
          }
        }
      }
    }
  }
}
