.modalContainer {
  background-color: rgba(128, 128, 128, 0.7);
  z-index: 200;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
  }
}
